.sectionHeader {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.sectionHeaderTitle {
  font-size: 3rem; /* 48px */
  font-weight: 600;
  margin: 0;
}

.sectionHeaderDescription {
  font-size: 1rem;
  max-width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}
/* TABLET */
@media (max-width: 768px) {
  .sectionHeaderTitle {
    font-size: 2.25rem; /* 36px */
  }

  .sectionHeaderDescription {
    font-size: 1rem;
    max-width: 90%;
  }
}

/* MOBILE */
@media (max-width: 480px) {
  .sectionHeaderTitle {
    font-size: 1.75rem; /* 28px */
  }

  .sectionHeaderDescription {
    font-size: 1rem;
    max-width: 100%;
    padding: 0 1rem;
  }
}
