.sectionHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20;
  width: 100%;

  margin-top: 0.75rem;
  margin-bottom: 0.75rem;

  text-align: center;
}
.sectionHeader.sectionHeaderCatalogo {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.sectionHeaderTitle {
  margin: 0;

  font-size: 3rem;
  font-weight: 600;
}

.sectionHeaderDescription {
  width: 100%;
  max-width: 100%;

  padding: 0 1rem;

  font-size: 1rem;

  box-sizing: border-box;
}

/* TABLET */
@media (max-width: 768px) {
  .sectionHeaderTitle {
    font-size: 2.25rem;
  }

  .sectionHeaderDescription {
    max-width: 90%;
  }
}

/* MOBILE */
@media (max-width: 480px) {
  .sectionHeaderTitle {
    font-size: 1.75rem;
  }

  .sectionHeaderDescription {
    max-width: 100%;

    padding: 0 1rem;
  }
}
