.fadeSeparator {
  display: block;

  width: 100%;
  height: var(--separator-height);

  margin-top: -3px;

  background: linear-gradient(
    to bottom,
    var(--separator-color) 30%,
    var(--separator-end) 100%
  );
}
