.categoriesCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  padding: 20px 0;
  gap: 50px;

  background: white;
}

/* CONTROLS */
.categoriesCarouselControls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.categoriesCarouselArrowButton {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  background: transparent;
  border: none;
}

.arrowIcon {
  display: block;

  width: 40px;
  height: 40px;

  padding: 10px;

  border-radius: 9999px;

  filter: invert(0);
}

.left {
  transform: rotate(180deg);
}

.right {
  transform: rotate(0deg);
}

/* CARDS */
.cardsHolderViewport {
  width: 100%;
  max-width: 100%;

  overflow: hidden;
}

.cardsHolder {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 50px;

  transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
  perspective: 1000px;
}

.cardWrapper {
  flex-shrink: 0;
  border-radius: 5px;
  overflow: hidden;

  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
  will-change: transform;
}
/* STATES */
.categoriesCarouselCardActive {
  transform: scale(1);
  opacity: 1;
  z-index: 3;
}

.categoriesCarouselCardNear {
  transform: scale(0.9);
  opacity: 0.7;
  z-index: 2;
}

.categoriesCarouselCardFar {
  transform: scale(0.8);
  opacity: 0.5;
  z-index: 1;
}

/* INTERACTIONS */
@media (hover: hover) and (pointer: fine) {
  .arrowIcon:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .categoriesCarousel {
    height: auto;

    padding: 2rem 0;
    gap: 24px;
  }

  .cardsHolder {
    gap: 16px;
  }
}

@media (max-width: 480px) {
  .cardsHolder {
    gap: 16px;
  }

  .arrowIcon {
    width: 32px;
    height: 32px;
  }
}
